*.pyc
*.swp
*.coverage
*.bak
Tests/integrationTests/repos/*
*.log
*.miseqUploaderInfo
*.miseqUploaderComplete
docs/_build/*
build/
pynsist_pkgs
wxPython*
.virtualenv
.cache
.idea/
.python-version
.pytest_cache/
